<form [formGroup]="nestedForm" (ngSubmit)="onSubmit()">
  <div formArrayName="categories">
    <div *ngFor="let category of categories.controls; let catIndex = index">
      <div [formGroupName]="catIndex">
        <label>
          Category Name:
          <input formControlName="categoryName">
        </label>
        <div formArrayName="items">
          <div *ngFor="let item of getItems(catIndex).controls; let itemIndex = index">
            <label>
              Item {{ itemIndex + 1 }}:
              <input [formControlName]="itemIndex">
              <button type="button" (click)="removeItem(catIndex, itemIndex)">Remove</button>
            </label>
          </div>
        </div>
        <button type="button" (click)="addItem(catIndex)">Add Item</button>
        <button type="button" (click)="removeCategory(catIndex)">Remove Category</button>
      </div>
    </div>
  </div>
  <button type="button" (click)="addCategory()">Add Category</button>
  <button type="submit" [disabled]="nestedForm.invalid">Submit</button>
</form>
